.container-fluid {
    height: 87vh;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 7px 3px 3px grey;
    align-items: center;
    background-color: #5f5f5f;
}

.mail,
.nom,
.prenom {
    color: white;
}

.form-control {
    color: #22844e;
    font-weight: 500;
}

a{
    background-color: #22844e;
}

.btn {
    color: white;
}

label,
p {
    color: white;
}

.form-check-label,
p {
    font-size: 10px;
}

.button-group{
    position: absolute;
    bottom : 8vh;
  }
