<div class="container-fluid d-flex flex-column justify-content-center align-items-center">

    <div class="card w-50 d-flex flex-column justify-content-center align-items-center p-1 mb-4">
        <form action="" class="w-100 d-flex flex-column justify-content-center align-items-center p-2" method="POST">
            <div class="btn-group d-flex flex-row justify-content-around w-100 civilite mt-4" role="group"
                aria-label="Basic radio toggle button group">
                <div class="w-100 d-flex flex-row justify-content-center">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-success w-50" for="btnradio1">Madame</label>
                </div>
                <div class="w-100 d-flex flex-row justify-content-center">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-success w-50" for="btnradio2">Monsieur</label>
                </div>
            </div>
            <div class="w-75 mt-2">
                <div class="form-group mt-3">
                    <label for="inputAddress" class="nom">Nom</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Nom" required>
                </div>
                <div class="form-group mt-3">
                    <label for="inputAddress2" class="prenom">Prenom</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Prenom" required>
                </div>
                <div class="form-group mt-3 row">
                    <div class="col-md-6"><label for="inputMail" class="mail">Mail</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Email" required>
                    </div>
                    <div class="col-md-6"><label for="inputPhone" class="mail">Téléphone</label>
                        <input type="tel" id="phone" name="phone" class="form-control"
                            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Téléphone" required>
                    </div>
                </div>
            </div>
            <div class="w-75 mt-3 mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                    <label class="form-check-label" for="flexCheckDefault">
                        J'accèpte les conditions générales d'utilisation
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Etre informé des offres promotionnelles en lien avec la rénovation
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Etre contacté par un conseiller "renovation-travaux" pour le suivi de votre projet
                    </label>
                </div>
            </div>
            <div class="w-75">
                <p>Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par
                    [identité et coordonnées du responsable de traitement] pour [finalités du traitement]. La base
                    légale du traitement est [base légale du traitement].

                    Les données collectées seront communiquées aux seuls destinataires suivants : [destinataires des
                    données].

                    Les données sont conservées pendant [durée de conservation des données prévue par le responsable du
                    traitement ou critères permettant de la déterminer].

                    Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer
                    votre droit à la limitation du traitement de vos données. (en fonction de la base légale du
                    traitement, mentionner également : Vous pouvez retirer à tout moment votre consentement au
                    traitement de vos données ; Vous pouvez également vous opposer au traitement de vos données ; Vous
                    pouvez également exercer votre droit à la portabilité de vos données)

                    Consultez le site cnil.fr pour plus d’informations sur vos droits.

                    Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif,
                    vous pouvez contacter (le cas échéant, notre délégué à la protection des données ou le service
                    chargé de l’exercice de ces droits) : [adresse électronique, postale, coordonnées téléphoniques,
                    etc.] </p>
            </div>
        </form>
    </div>
    <div class="button-group w-50 d-flex flex-row justify-content-around">
        <a routerLink="/home" class="btn w-25">Retour</a>
        <a routerLink="/logement-actuel" class="btn w-25">Validation</a>
    </div>
</div>