.container-fluid {
    height: 87vh;
    color: white;
}
.mail,
.nom,
.prenom {
    color: white;
}

.form-control {
    color: #22844e;
    font-weight: 500;
}

label,
p {
    color: white;
}

.form-check-label,
p {
    font-size: 10px;
}

.button-group {
    position: absolute;
    bottom: 8vh;
}




