<div class="main">
    <div class="col-2 stepper align-self-center">
        <app-stepper></app-stepper>
    </div>
    <div class="col-10 w-75">
        <form class="container-fluid d-flex flex-column  align-items-center form"
            [formGroup]="chauffageInstallationForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="w-100 d-flex flex-column justify-content-around main">
                <div class="type-logement d-flex flex-column justify-content-center mt-0 mb-0 btn-group" role="group"
                    aria-label="Basic outlined example" id="equipementInstall">
                    <h3 class="align-self-center text-dark"><b>{{question}}</b></h3>
                    <div class="d-flex flex-column justify-content-center w-50 align-self-center">
                        <div class="d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="equipementInstall" id="btnradio1"
                                autocomplete="off" [value]="card1" checked formControlName="equipementInstall">
                            <label class="btn btn-outline-success w-25 p-1 maison-button m-2" for="btnradio1">

                                <div class="card-image p-2" *ngIf="id==1"><img src="/assets/images/gas.png"></div>
                                <div class="card-image p-2" *ngIf="id==2"><img src="/assets/images/sol.png"></div>
                                <div class="card-body p-0"><label for=""
                                        class="text-center typeChaudiere">{{card1}}</label></div>

                            </label>
                            <input type="radio" class="btn-check" name="equipementInstall" id="btnradio2"
                                autocomplete="off" [value]="card2" formControlName="equipementInstall">
                            <label class="btn btn-outline-success w-25 p-1 appt-button m-2" for="btnradio2">

                                <div *ngIf="id==1" class="card-image p-2"><img src="/assets/images/wood.png"></div>
                                <div *ngIf="id==2" class="card-image p-2"><img src="/assets/images/grenier-amenage.PNG">
                                </div>
                                <div class="card-body p-0"><label for=""
                                        class="text-center typeChaudiere">{{card2}}</label></div>


                            </label>
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="equipementInstall" id="btnradio3"
                                autocomplete="off" [value]="card3" formControlName="equipementInstall">
                            <label class="btn btn-outline-success w-25 p-1 maison-button m-2" for="btnradio3">

                                <div *ngIf="id==1" class="card-image p-2"><img src="/assets/images/natural-gas.png">
                                </div>
                                <div *ngIf="id==2" class="card-image p-2"><img
                                        src="/assets/images/mur-de-brique-ext.png"></div>
                                <div class="card-body p-0"><label for=""
                                        class="text-center typeChaudiere">{{card3}}</label></div>

                            </label>
                           
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="equipementInstall" id="btnradio5"
                                autocomplete="off" [value]="card5" formControlName="equipementInstall">
                            <label class="btn btn-outline-success w-25 p-1 maison-button m-2" for="btnradio5">

                                <div *ngIf="id==1" class="card-image p-2"><img src="/assets/images/granule.png">
                                </div>
                                <div *ngIf="id==2" class="card-image p-2"><img src="/assets/images/toiture.PNG">
                                </div>
                                <div class="card-body p-0"><label for=""
                                        class="text-center typeChaudiere">{{card5}}</label></div>

                            </label>
                            <input type="radio" class="btn-check" name="equipementInstall" id="btnradio6"
                                autocomplete="off" [value]="card6" formControlName="equipementInstall">
                            <label class="btn btn-outline-success w-25 p-1 appt-button m-2" for="btnradio6">

                                <div *ngIf="id==1" class="card-image p-2"><img src="/assets/images/air-eau.png">
                                </div>
                                <div *ngIf="id==2" class="card-image p-2"><img src="/assets/images/toit.png"></div>
                                <div class="card-body p-0"><label for=""
                                        class="text-center typeChaudiere">{{card6}}</label></div>

                            </label>
                        </div>
                        <div class="d-flex flex-row justify-content-center" *ngIf="id==1">
                            <input type="radio" class="btn-check" name="equipementInstall" id="btnradio7"
                                autocomplete="off" [value]="card7" formControlName="equipementInstall">
                            <label class="btn btn-outline-success w-25 p-1 maison-button m-2" for="btnradio7">
                                <div class="card-image p-2"><img src="/assets/images/air-air.png"></div>
                                <div class="card-body p-0"><label for="" class="text-center typeChaudiere">{{card7}}
                                    </label></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group w-50 d-flex flex-row justify-content-around mt-4">
                <button (click)="return()" class="btn w-25 retour">Retour</button>
                <button type="submit" class="btn w-25 suivant"
                    [disabled]="!chauffageInstallationForm.valid">Suivant</button>
            </div>
        </form>
    </div>
</div>