<div class="main">
    <div class="col-2 stepper align-self-center">
        <app-stepper></app-stepper>
    </div>
    <div class="col-10 w-75">
        <form class="container-fluid d-flex flex-column  align-items-center form" [formGroup]="situationFiscaleForm"
            (ngSubmit)="onSubmit()">
            <div class="w-100 d-flex flex-column justify-content-around main">
                <div class="type-energie d-flex flex-column justify-content-center w-100 align-self-center mt-0">
                    <div class="situation d-flex flex-column justify-content-center mb-4">
                        <h3 class="align-self-center"><b>Ou habitez-vous</b> </h3>
                        <div class="d-flex flex-column justify-content-center align-self-center w-100" role="group"
                            aria-label="Basic radio toggle button group" id="btnradio">
                            <div class="d-flex flex-row justify-content-center m-2">
                                <div class="w-25 d-flex flex-row justify-content-center">
                                    <input type="radio" class="btn-check" name="region" id="btnradio1" (change)="handleChange($event)"
                                        value="ileDeFrance" autocomplete="off" checked formControlName="region">
                                    <label class="btn btn-outline-success w-50 annee-button align-self-center"
                                        for="btnradio1">
                                        En Ile de France
                                    </label>
                                </div>
                                <div class="w-25 d-flex flex-row justify-content-center">
                                    <input type="radio" class="btn-check" name="region" id="btnradio2" (change)="handleChange($event)"
                                        value="HorsIleDeFrance" autocomplete="off" formControlName="region">
                                    <label class="btn btn-outline-success w-50 annee-button  align-self-center"
                                        for="btnradio2">
                                        Hors Ile de France
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row w-25 align-self-center">
                        <div class="mb-2">
                            <hr class="solid">
                        </div>
                    </div>
                    <div class="charge d-flex flex-column justify-content-center mt-4">
                        <h3 class="align-self-center"><b>Votre revenue de référence</b> </h3>
                        <div class="d-flex flex-column justify-content-center align-self-center w-100" role="group"
                            aria-label="Basic radio toggle button group" id="revenu">
                            <div class="d-flex flex-row justify-content-center m-2">
                                <div class="w-25 d-flex flex-row justify-content-center">
                                    <input type="radio" class="btn-check" name="revenu" id="btnradio6"
                                        autocomplete="off" [value]="revenuRef" checked formControlName="revenu"
                                        >
                                    <label class="btn btn-outline-success w-75 annee-button align-self-center revenu1"
                                        for="btnradio6">Moins de {{revenuRef}} &euro;
                                    </label>
                                </div>
                                <div class="w-25 d-flex flex-row justify-content-center">
                                    <input type="radio" class="btn-check" name="revenu" id="btnradio7"
                                        autocomplete="off" [value]="revenuRef2" formControlName="revenu">
                                    <label class="btn btn-outline-success w-75  align-self-center revenu2"
                                        for="btnradio7">
                                        Compris entre {{revenuRef}} &euro; et {{revenuRef2}} &euro;
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-center m-2">
                                <div class="w-25 d-flex flex-row justify-content-center">
                                    <input type="radio" class="btn-check" name="revenu" id="btnradio8"
                                        autocomplete="off" [value]="revenuRef3" formControlName="revenu">
                                    <label class="btn btn-outline-success w-75 annee-button align-self-center revenu3"
                                        for="btnradio8">Compris entre {{revenuRef2}} &euro; et {{revenuRef3}} &euro;
                                    </label>
                                </div>
                                <div class="w-25 d-flex flex-row justify-content-center">
                                    <input type="radio" class="btn-check" name="revenu" id="btnradio9"
                                        autocomplete="off" [value]="revenuRef4" formControlName="revenu">
                                    <label class="btn btn-outline-success w-75 annee-button align-self-center revenu4"
                                        for="btnradio9">
                                        Supérieur à {{revenuRef3}} &euro;
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group w-50 d-flex flex-row justify-content-around mt-4">
                <button (click)="return()" class="btn w-25 retour">Retour</button>
                <button type="submit" class="btn w-25 suivant" [disabled]="!situationFiscaleForm.valid">Suivant</button>
            </div>
        </form>
    </div>
</div>