<div class="container-fluid d-flex flex-column  align-items-center">
    <div class="w-100 d-flex flex-column justify-content-around main">
        <div class="type-energie d-flex flex-column justify-content-center w-100 align-self-center mt-0">
            <div class="situation d-flex flex-column justify-content-center mb-4">
                <h3 class="align-self-center"><b>Votre situation maritale</b> </h3>
                <div class="d-flex flex-column justify-content-center align-self-center w-100" role="group"
                    aria-label="Basic radio toggle button group" id="btnradio">
                    <div class="d-flex flex-row justify-content-center m-2">
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-success w-50 annee-button align-self-center" for="btnradio1">
                                Marié(e)
                            </label>
                        </div>
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-success w-50 annee-button  align-self-center" for="btnradio2">
                                En concubinage
                            </label>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center m-2">
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-success w-50 annee-button align-self-center"
                                for="btnradio3">Pacsé(e)</label>
                        </div>
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn btn-outline-success w-50 annee-button align-self-center"
                                for="btnradio4">Célibataire</label>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center m-2">
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-success w-50 annee-button align-self-center"
                                for="btnradio5">Veuf / Veuve </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-25 align-self-center">
                <div class="mb-2">
                    <hr class="solid">
                </div>
            </div>
            <div class="charge d-flex flex-column justify-content-center mt-4">
                <h3 class="align-self-center"><b>Autres personnes à charge</b> </h3>
                <div class="d-flex flex-column justify-content-center align-self-center w-100" role="group"
                    aria-label="Basic radio toggle button group" id="btnradio11">
                    <div class="d-flex flex-row justify-content-center m-2">
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio11" id="btnradio6" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-success w-50 annee-button align-self-center" for="btnradio6">0
                            </label>
                        </div>
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio11" id="btnradio7" autocomplete="off">
                            <label class="btn btn-outline-success w-50 annee-button align-self-center" for="btnradio7">
                                1
                            </label>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center m-2">
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio11" id="btnradio8" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-success w-50 annee-button align-self-center" for="btnradio8">2
                            </label>
                        </div>
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio11" id="btnradio9" autocomplete="off">
                            <label class="btn btn-outline-success w-50 annee-button align-self-center" for="btnradio9">
                                3
                            </label>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center m-2">
                        <div class="w-25 d-flex flex-row justify-content-center">
                            <input type="radio" class="btn-check" name="btnradio11" id="btnradio10" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-success w-50 annee-button align-self-center" for="btnradio10">
                                Plus d'options
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-group w-50 d-flex flex-row justify-content-around mt-4">
        <a routerLink="/montant-estimatif" class="btn w-25 retour">Retour</a>
        <a routerLink="/situation-fiscale" class="btn w-25 suivant">Suivant</a>
    </div>
</div>