<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  <div class="jumbotron jumbotron-fluid">
    <div class="container pr-4 pl-4 pt-0 pb-0">
      <h1 class="display-2">Mon projet de rénovation energétique</h1>
      <p class="paraph1">Effectuez <b>votre simulation</b> de travaux en quelques clics et découvrez <b>les aides</b> et
        <b>primes</b> dont vous pouvez bénéficier.
      </p>
      <p class="paraph1"><b>Nos conseillers </b>sont à votre disposition pour répondre à vos questions et pour vous
        accompagner <br> tout au long de <b>votre projet</b>.</p>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around w-75">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/chaudiere.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title w-100"><span class="badge badge-pill align-self-center w-75 p-2">Mon energie et
            moi</span></h2>
        <p class="card-text">Obtenez jusqu'5500 euros d'aide pour le remplacement de votre ancienne chaudière.</p>
        <a [routerLink]="['home','1', 'formulaire']" class="btn w-100">J'effectue ma simulation</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/eco-house.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title w-100"><span class="badge badge-pill align-self-center w-75 p-2">Mon isolation et
            moi</span></h2>
        <p class="card-text">Bénéficiez jusqu'à 30 euros du m2 pour le projet d'isolation complet de votre
          domicile.</p>
        <a [routerLink]="['home','2', 'formulaire']" class="btn w-100">J'effectue ma simulation</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/panneau-solaire.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title w-100"><span class="badge badge-pill align-self-center w-75 p-2">Mon soleil et
            moi</span>
        </h2>
        <p class="card-text">Changez vos radiateurs éléctriques avec la prime pouvant aller jusqu'130
          euros/radiateur.
        </p>
        <a [routerLink]="['home','3', 'formulaire']" class="btn w-100">J'effectue ma simulation</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/mur-de-briques.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title w-100"><span class="badge badge-pill align-self-center w-75 p-2">Mes travaux et
            moi</span></h2>
        <p class="card-text">Profitez de nos solutions pour améliorer votre confort et réaliser de belles
          économies.</p>
        <a [routerLink]="['home','4', 'formulaire']" class="btn w-100">J'effectue ma simulation</a>
      </div>
    </div>
  </div>
  <form>
    <ejs-sidebar id="default-sidebar" #rightSidebar (created)="onCreated($event)" style="visibility:visible"
      [position]='position' [enableGestures]="enableGestures" class="align-items-center shadow-lg">

      <div class="card-header mt-2 mx-0 w-100 text-center" *ngIf="beforeValidation == true">
        <h3 class="m-0 p-0"> <i class="fas fa-headphones-alt"></i> &nbsp;Un conseiller vous appelle</h3>
      </div>
      <div class="card-header mx-0 w-100 text-center" *ngIf="beforeValidation != true">
        <h3 class="m-0 p-0"> <i class="fas fa-headphones-alt"></i> &nbsp;Merci pour votre demande</h3>
      </div>
      <div class="card-body p-4 " *ngIf="beforeValidation == true">
        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
          <select class="form-select form-select-md mb-3" aria-label=".form-select-sm example" name="civilite" id="civilite" ngModel>
            <option value="" disabled selected>Civilite</option>
            <option selected value="Madame">Madame</option>
            <option value="Monsieur">Monsieur</option>
          </select>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Dupont" id="nom" name="nom" required
              ngModel>
            <label for="floatingInput" class="text-dark">Nom</label>
          </div>
          <div class="form-floating">
            <input type="phone" class="form-control" id="floatingPhone" placeholder="0601020345" id="telephone"
              name="telephone" required ngModel pattern="(33|0)(6|7|9|3|1|2|3|4|5)\d{8}">
            <label for="floatingPhone" class="text-dark">Telephone</label>
          </div>
          <hr>
          <div>
            <h4> Votre projet : </h4>
          </div>
          <div class="d-flex flex-row">
            <div class="form-check col-6">
              <input class="form-check-input" type="checkbox" value="chaudiere" id="chaudiere" name="isChaudiere"
                ngModel>
              <label class="form-check-label" for="chaudiere">
                Radiateurs
              </label>
            </div>
            <div class="form-check col-6">
              <input class="form-check-input" type="checkbox" value="isolation" id="isolation" name="isIsolation"
                ngModel>
              <label class="form-check-label" for="isolation">
                Isolation
              </label>
            </div>

          </div>
          <div class="d-flex flex-row mb-3">
            <div class="form-check col-6">
              <input class="form-check-input" type="checkbox" value="solaire" id="solaire" name="isSolaire" ngModel>
              <label class="form-check-label" for="solaire">
                Solaires
              </label>
            </div>
            <div class="form-check col-6">
              <input class="form-check-input" type="checkbox" value="divers" id="divers" name="isDivers" ngModel>
              <label class="form-check-label" for="divers">
                Travaux divers
              </label>
            </div>
          </div>
          <button class="btn btn-primary w-100" type="submit" [disabled]="!myform.valid">validation</button>
        </form>
      </div>
      <div class="card-body p-4 d-flex flex-column justify-content-center" *ngIf="beforeValidation != true">
        <h3 class="text-center mb-4">Sous 12 heures</h3>
        <div class="text-center"> <i class="fas fa-check-circle scale-in-center"></i></div>
        <h3 class="text-center mt-4">Vous serez contacté</h3>
      </div>


      <button ejs-button id="but" (click)="toggleClick()" class="btn btn-primary flicker-2"><svg
          xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
          class="bi bi-telephone-forward-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z" />
        </svg></button>
    </ejs-sidebar>
  </form>
</div>