.container-fluid {
    height: 87vh;
    color:white;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    color: #22844e;
  }

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 7px 3px 3px grey;
    align-items: center;
    background-color: #5F5F5F;
}

.card-img-top {
    padding: 20px;
    width: 200px;
    height: 200px;
    align-self: center;
    margin-top: 10px;
}
.card-title{
display: flex;
flex-direction: row;
justify-content: center;

}

.btn {
    background-color: #22844e;
    color: white;
}

.badge{
color:#22844e;
background-color:white;

}

.paraph1{
color: #5F5F5F;
}


