<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  <div class="jumbotron jumbotron-fluid">
    <div class="container pr-4 pl-4 pt-0 pb-0">
      <h1 class="display-2">Mon projet de rénovation energétique</h1>
      <p class="paraph1">Effectuez <b>votre simulation</b> de travaux en quelques clics et découvrez <b>les aides</b> et
        <b>primes</b> dont vous pouvez bénéficier.
      </p>
      <p class="paraph1"><b>Nos conseillers </b>sont à votre disposition pour répondre à vos questions et pour vous
        accompagner <br> tout au long de <b>votre projet</b>.</p>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around w-75">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/chaudiere.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title w-100"><span class="badge badge-pill align-self-center w-75 p-2">Mon energie et
            moi</span></h2>
        <p class="card-text">Obtenez jusqu'5500 euros d'aide pour le remplacement de votre ancienne chaudière.</p>
        <a [routerLink]="['home','1', 'formulaire']" class="btn w-100">J'effectue ma simulation</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/eco-house.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title w-100"><span class="badge badge-pill align-self-center w-75 p-2">Mon isolation et
            moi</span></h2>
        <p class="card-text">Bénéficiez jusqu'à 30 euros du m2 pour le projet d'isolation complet de votre
          domicile.</p>
        <a [routerLink]="['home','2', 'formulaire']" class="btn w-100">J'effectue ma simulation</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/panneau-solaire.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title w-100"><span class="badge badge-pill align-self-center w-75 p-2">Mon soleil et
            moi</span>
        </h2>
        <p class="card-text">Changez vos radiateurs éléctriques avec la prime pouvant aller jusqu'130
          euros/radiateur.
        </p>
        <a [routerLink]="['home','3', 'formulaire']" class="btn w-100">J'effectue ma simulation</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/mur-de-briques.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title w-100"><span class="badge badge-pill align-self-center w-75 p-2">Mes travaux et
            moi</span></h2>
        <p class="card-text">Profitez de nos solutions pour améliorer votre confort et réaliser de belles
          économies.</p>
        <a [routerLink]="['home','4', 'formulaire']" class="btn w-100">J'effectue ma simulation</a>
      </div>
    </div>
  </div>


  

</div>