.navbar {
  background-color: #ADCF43;
  color:white ;
  height: 7vh;
  box-shadow: 3px 3px 3px grey;
  margin-left: 0px;
  margin-right: 0px;
}


@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.logo {
  height: 50px;
  width: 80px;
}
