<main class="container pt-4">
    <section>
        <h2><b>QUI SOMMES-NOUS ?</b> </h2>
        <div>
            <p>L’adresse de notre site Web est : ya-performance.fr.</p>
        </div>
    </section>
    <br>
    <section>
        <h2><b>UTILISATION DES DONNÉES PERSONNELLES COLLECTÉES:</b> </h2>
        <h3><i><b>Cookies</b></i></h3>
        <p>Ces cookies sont strictements nécéssaires pour vous fournir des services disponibles sur notre site web et
            d'utiliser certaines de ses fonctionnalités.</p>
        <p>Ces cookies vont nous servir à garantir l'intégrité des données tout au long du remplissage des différents
            formulaires sur notre site jusqu'à l'enregistrement dans notre base de données.</p>
    </section>
    <br>
    <section>
        <h2>Pour consulter les informations légales du site ya-performance.fr suivez les liens ci-dessous :</h2>
        <ul>
            <li><a routerLink="/mentions-legales">Mentions légales</a>
            </li>
            <li><a routerLink="/politique-confidentialite">Politique de confidentialité</a></li>
        </ul>
    </section>
</main>