<main class="container pt-4 pb-4" id="destination">
    <h1></h1>
    <section >
        <h2><b>PRÉAMBULE ET DÉFINITIONS</b> </h2>
        <article>

            <p>Conscient de l’importance d’assurer la confidentialité des données, la société Ya-Performance prend des
                engagements forts vis-à-vis de la protection des données à caractère personnel.</p>

            <p>Aussi, la présente Politique de protection des données a pour objectif de vous informer des droits et
                libertés que vous pouvez faire valoir à l’égard de notre utilisation de vos données personnelles et
                décrit les mesures que nous mettons en œuvre afin de les protéger.</p>

            <p>Ya-Performance est le « responsable du traitement » de données personnelles relatives à la gestion du
                site
                internet.</p>

            <p>La présente Politique pourrait évoluer en fonction du contexte légal et réglementaire et de la doctrine
                de la Commission nationale de l’informatique et des libertés (CNIL).
            </p>

            <p><b>Donnée à caractère personnel :</b> constitue une donnée à caractère personnel toute information
                relative à
                une personne physique identifiée ou qui peut être identifiée, directement ou indirectement, par
                référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres.</p>

            <p> <b>Traitement de données à caractère personnel :</b> constitue un traitement de données à caractère
                personnel
                toute opération ou tout ensemble d’opérations portant sur de telles données, quel que soit le procédé
                utilisé, et notamment la collecte, l’enregistrement, l’organisation, la conservation, l’adaptation ou la
                modification, l’extraction, la consultation, l’utilisation, la communication par transmission, diffusion
                ou toute autre forme de mise à disposition, le rapprochement ou l’interconnexion, ainsi que le
                verrouillage, l’effacement ou la destruction.
            </p>

        </article>
    </section><br>
    <section>
        <h2><b>DONNÉES COLLECTÉES</b> </h2>
        <article>

            <p>Ya-Performance collecte et traite les données suivantes de ses utilisateurs du site internet :civilité,
                prénom, nom, email,
                numéro de téléphone, adresse postale, situation familiale, tranche fiscale, nombre de personne dans le
                foyer fiscal,
                type d'energie de chauffage, type d'equipement de chauffage, type de logement, surface du logement et
                consommation energétique.
            </p>


            <p> Lorsque vous naviguez sur le Site Web de Ya-Performance, cette dernière peut également collecter des
                informations
                au travers d’outils dédiés couramment utilisés, tels que les cookies. Les informations colléctées au
                travers
                ces cookies ne servent qu'à permettre à l'utilisateur d'effectuer la simulation de calcul des primes
                gourvernemantales
                de rénovation energétique.</p>

            <p> Nous veillons à ne collecter que des données strictement nécessaires à la finalité des traitements mis
                en
                œuvre.</p>

        </article>
    </section>
    <br>
    <section>
        <h2><b>FINALITÉS DE LA COLLECTE</b> </h2>
        <article>
            <p>Les traitements mis en œuvre répondent à des finalités explicites, légitimes et déterminées.
                Le traitement des données à caractère personnel est nécessaire à l’exécution des prestations de
                Ya-Performance
                où à l’exécution de mesures
                précontractuelles prises à la demande de la personne concernée.</p>

            <p>Le traitement de vos données est fondé principalement sur la satisfaction des intérêts légitimes
                poursuivis par Ya-Performance et pour les finalités suivantes : </p>
            <ul>
                <li>Calcul des primes gourvernemantales d'aide à la rénovation energétique;</li>
                <li>Proposer un devis correspondant aux equipements à installer dans votre logement en liant avec des
                    travaux de rénovation energétique;</li>
                <li>L’élaboration d’une proposition technique et commerciale ou de tout autre contrat ( exemple devis)
                </li>
            </ul>
        </article>
    </section>
    <br>
    <section>
        <h2><b>INFORMATION DES UTILISATEURS</b></h2>
        <article>
            <p>Tout utilisateur pourra être informé :</p>

            <ul>
                <li>De l’identité du responsable du traitement ;</li>
                <li>De la finalité poursuivie par le traitement auquel les données sont destinées ;</li>
                <li>Des destinataires des données ;</li>
                <li>De vos droits d’accès, d’interrogation, de modification et de rectification aux informations qui
                    vous concernent, de votre droit d’opposition pour des motifs légitimes, de votre droit d’opposition
                    à ce que vos données soient utilisées à des fins de prospection commerciale et de votre droit de
                    définir des directives relatives au sort de vos données à caractère personnel après votre mort ;
                </li>
                <li>De la durée de conservation des catégories de données traitées.</li>
            </ul>
        </article>
    </section>
    <br>
    <section>
        <h2><b>DESTINATAIRES DES DONNÉES</b></h2>
        <article>
            <p> Les destinataires de vos données à caractère personnel sont les services concernés de Ya-Performance.
                Plus
                rarement,
                Ya-Performance peut demander à un partenaire ou à un sous-traitant de traiter pour son compte vos
                données
                personnelles
                et s’assurera du respect de la confidentialité des données.</p>

            <p> Ya-Performance exige de manière stricte de ses prestataires de services qu’ils utilisent les données
                personnelles
                uniquement pour gérer les services que nous leur demandons de fournir. Nous demandons également à ces
                prestataires de toujours agir en conformité avec les lois applicables en matière de protection des
                données
                personnelles et d’accorder une attention particulière à la confidentialité de ces données.</p>

            <p> Ya-Performance s’engage à ne pas céder ni louer les données recueillies.</p>

            <p> La divulgation à des tiers des données à caractère personnel fournies ne pourra intervenir que dans les
                cas
                suivants :
            </p>

            <ul>
                <li>Sur autorisation du titulaire des données ;</li>
                <li>Sur demande des autorités légalement compétentes, sur réquisition judiciaire, ou dans le cadre d’un
                    contentieux
                    judiciaire.</li>
            </ul>

        </article>

    </section>

    <br>
    <section>

        <article>
            <h2><b>OÙ STOCKONS-NOUS LES DONNÉES PERSONNELLES ?</b></h2>

            <p> Les données personnelles de nos clients sont stockées soit dans nos bases de données soit dans celles de
                nos
                prestataires de services.</p>

            <p> Les serveurs d’hébergement sur lesquels Ya-Performance traite et stocke les bases de données sont
                exclusivement
                situés
                au sein de l’Union Européenne.</p>
        </article>
    </section>
    <br>
    <section>
        <article>
            <h2><b>CONSERVATION DES DONNÉES</b></h2>

            <p> Ya-Performance conserve les données personnelles uniquement pour la durée nécessaire à la réalisation de
                la
                finalité
                pour laquelle elles ont été collectées, à savoir le plus souvent le temps de l’exécution du contrat et
                plus
                généralement pour toutes relations d’affaires.</p>
            <p>
                Cependant, ces informations pourront être conservées plus longtemps, c’est-à-dire le temps nécessaire
                pour
                traiter les réclamations concernant les services, pour protéger les intérêts légitimes de
                Ya-Performance,
                pour
                accomplir une obligation légale, pour nous conformer à la réglementation, pour défendre nos intérêts ou
                faire
                valoir nos droits.</p>
        </article>
    </section>
    <br>
    <section>
        <h2><b>SÉCURITÉ</b></h2>

        <p> Ya-Performance assure la sécurité de vos données à caractère personnel en mettant en place une protection
            des données
            renforcée par l’utilisation de moyens de sécurisation physiques et logiques.</p>

    </section>
    <br>
    <section>
        <h2><b>INFORMATION SUR VOS DROITS</b></h2>

        <p> Les personnes dont les données à caractère personnel sont collectées bénéficient d’un droit d’accès aux
            données
            à caractère personnel les concernant, la rectification ou l’effacement de celles-ci, une limitation du
            traitement, la portabilité des données ainsi que du droit de s’opposer au traitement.</p>

        <p> Ces droits peuvent être exercés en adressant un email à l’attention de notre DPO à l’adresse email suivante
            :
            dpo@coheris.com ou par courrier postal à COHERIS, DPO, 4 rue du Port aux Vins, 92150 SURESNES.</p>
        <p>
            COHERIS répond à la personne ayant fait l’usage d’un des droits susvisés dans un délai d’un mois à compter
            de la
            réception de la demande ou dans un délai de deux mois compte tenu de la complexité et du nombre de demandes.
        </p>
        <p> En cas de refus de réponse, la personne concernée a la possibilité d’introduire une réclamation auprès de la
            Commission Nationale de l’Informatique et des Libertés ou de l’autorité de contrôle de l’Etat membre de
            l’Union
            européenne dans lequel elle réside et de former un recours juridictionnel.
        </p>
        <article>
            <h3><i><b> Droit d’accès :</b></i></h3>

            <p> Toute personne peut solliciter du responsable du traitement si des données à caractère personnel la
                concernant font l’objet d’un traitement.</p>

            <p> Dans l’affirmative, la personne concernée peut obtenir une copie des données à caractère personnel
                faisant
                l’objet d’un traitement ainsi que les informations suivantes :</p>
            <ul>
                <li>Finalités du traitement ;</li>
                <li>Catégories de données à caractère personnel concernées ;</li>
                <li>Destinataires ou catégories de destinataires des données ;</li>
                <li> Lorsque cela est possible, la durée de conservation des données envisagée ou, lorsque ce n’est
                    pas
                    possible,
                    les
                    critères utilisés pour déterminer cette durée ;</li>
                <li>Lorsque les données à caractère personnel ne sont pas collectées auprès de la personne
                    concernée,
                    toute
                    information disponible quant à leur source ;</li>
                <li> Le cas échéant, l’existence d’une prise de décision automatisée, y compris un profilage, et les
                    informations
                    utiles concernant la logique sous-jacente, ainsi que l’importance et les conséquences prévues de
                    ce
                    traitement
                    pour la personne concernée.</li>
            </ul>
        </article>
        <article>
            <h3><i><b>Droit de rectification : </b></i></h3>

            <p> Toute personne peut solliciter du responsable du traitement si des données à caractère personnel la
                concernant font l’objet d’un traitement.</p>

            <p> Dans l’affirmative, la personne concernée peut obtenir une copie des données à caractère personnel
                faisant
                l’objet d’un traitement ainsi que les informations suivantes :</p>
            <ul>
                <li>Finalités du traitement ;</li>
                <li>Catégories de données à caractère personnel concernées ;</li>
                <li>Destinataires ou catégories de destinataires des données ;</li>
                <li> Lorsque cela est possible, la durée de conservation des données envisagée ou, lorsque ce n’est pas
                    possible,
                    les
                    critères utilisés pour déterminer cette durée ;</li>
                <li>Lorsque les données à caractère personnel ne sont pas collectées auprès de la personne concernée,
                    toute
                    information disponible quant à leur source ;</li>
                <li> Le cas échéant, l’existence d’une prise de décision automatisée, y compris un profilage, et les
                    informations
                    utiles concernant la logique sous-jacente, ainsi que l’importance et les conséquences prévues de ce
                    traitement
                    pour la personne concernée.</li>
            </ul>
        </article>
        <article>
            <h3><i><b> Droit à l’effacement :</b> </i></h3>

            <p> Toute personne peut solliciter du responsable du traitement si des données à caractère personnel la
                concernant font l’objet d’un traitement.</p>

            <p> Dans l’affirmative, la personne concernée peut obtenir une copie des données à caractère personnel
                faisant
                l’objet d’un traitement ainsi que les informations suivantes :</p>
            <ul>
                <li>Finalités du traitement ;</li>
                <li>Catégories de données à caractère personnel concernées ;</li>
                <li>Destinataires ou catégories de destinataires des données ;</li>
                <li> Lorsque cela est possible, la durée de conservation des données envisagée ou, lorsque ce n’est pas
                    possible,
                    les
                    critères utilisés pour déterminer cette durée ;</li>
                <li>Lorsque les données à caractère personnel ne sont pas collectées auprès de la personne concernée,
                    toute
                    information disponible quant à leur source ;</li>
                <li> Le cas échéant, l’existence d’une prise de décision automatisée, y compris un profilage, et les
                    informations
                    utiles concernant la logique sous-jacente, ainsi que l’importance et les conséquences prévues de ce
                    traitement
                    pour la personne concernée.</li>
            </ul>
        </article>
        <article>
            <h3><i><b> Droit à la portabilité :</b></i> </h3>

            <p> Toute personne peut solliciter du responsable du traitement si des données à caractère personnel la
                concernant font l’objet d’un traitement.</p>

            <p> Dans l’affirmative, la personne concernée peut obtenir une copie des données à caractère personnel
                faisant
                l’objet d’un traitement ainsi que les informations suivantes :</p>
            <ul>
                <li>Finalités du traitement ;</li>
                <li>Catégories de données à caractère personnel concernées ;</li>
                <li>Destinataires ou catégories de destinataires des données ;</li>
                <li> Lorsque cela est possible, la durée de conservation des données envisagée ou, lorsque ce n’est pas
                    possible,
                    les
                    critères utilisés pour déterminer cette durée ;</li>
                <li>Lorsque les données à caractère personnel ne sont pas collectées auprès de la personne concernée,
                    toute
                    information disponible quant à leur source ;</li>
                <li> Le cas échéant, l’existence d’une prise de décision automatisée, y compris un profilage, et les
                    informations
                    utiles concernant la logique sous-jacente, ainsi que l’importance et les conséquences prévues de ce
                    traitement
                    pour la personne concernée.</li>
            </ul>
        </article>
        <article>
            <h3><i><b> Droit d’opposition :</b></i> </h3>

            <p> Toute personne peut solliciter du responsable du traitement si des données à caractère personnel la
                concernant font l’objet d’un traitement.</p>

            <p> Dans l’affirmative, la personne concernée peut obtenir une copie des données à caractère personnel
                faisant
                l’objet d’un traitement ainsi que les informations suivantes :</p>
            <ul>
                <li>Finalités du traitement ;</li>
                <li>Catégories de données à caractère personnel concernées ;</li>
                <li>Destinataires ou catégories de destinataires des données ;</li>
                <li> Lorsque cela est possible, la durée de conservation des données envisagée ou, lorsque ce n’est pas
                    possible,
                    les
                    critères utilisés pour déterminer cette durée ;</li>
                <li>Lorsque les données à caractère personnel ne sont pas collectées auprès de la personne concernée,
                    toute
                    information disponible quant à leur source ;</li>
                <li> Le cas échéant, l’existence d’une prise de décision automatisée, y compris un profilage, et les
                    informations
                    utiles concernant la logique sous-jacente, ainsi que l’importance et les conséquences prévues de ce
                    traitement
                    pour la personne concernée.</li>
            </ul>
        </article>
    </section>
    <section>
        <h2><b>CONTACT</b></h2>
        <article>
            Pour toutes demandes d’information concernant notre politique de protection des données, vous pouvez
            adresser un courrier au Délégué à la protection des données (DPO) de Ya-Performance, accompagné de la
            photocopie
            d’un titre d’identité comportant votre signature, à l’adresse postale suivante : Ya-Performance, DPO, 101
            RUE JEAN JAURES 59200 TOURCOING
            ou à l’adresse de courrier électronique dpo.ya.performance@gmail.com
        </article>
        <br>
    </section>
    <section>
        <h2>Pour consulter les informations légales du site ya-performance.fr suivez les liens ci-dessous :</h2>
        <ul>
            <li><a routerLink="/mentions-legales">Mentions légales</a>
            </li>
            <li><a routerLink="/politique-cookies">Politique de Cookies</a></li>
        </ul>

    </section>
    <a class="anchor p-0 m-0" type="button" (click)="triggerScrollTo()"><i class="far fa-chevron-circle-up p-2 shadow"></i></a>
</main>