<div class="container-fluid d-flex flex-column  align-items-center">
    <div class="w-100 d-flex flex-column justify-content-around main">
        <div class="type-logement d-flex flex-column justify-content-center mt-0 mb-0 btn-group" role="group" aria-label="Basic outlined example" id="btnradio5">
            <h3 class="align-self-center"><b>Votre logement est </b></h3>
            <div class="d-flex flex-row justify-content-center w-50 align-self-center">
                <input type="radio" class="btn-check" name="btnradio5" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-success w-25 p-1 maison-button" for="btnradio1">
                    <div class="card p-1 m-1">
                        <div class="card-image p-2"><img src="/assets/home.png"></div>
                        <div class="card-body p-0"><label for="" class="text-center">Une Maison</label></div>
                    </div>
                </label>
                <input type="radio" class="btn-check" name="btnradio5" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-success w-25 p-1 appt-button" for="btnradio2">
                    <div class="card p-1 m-1">
                        <div class="card-image p-2"><img src="/assets/building.png"></div>
                        <div class="card-body p-0"><label for="">Un Appartement</label></div>
                    </div>
                </label>
            </div>
        </div>
        <div class="annee-construction d-flex flex-column justify-content-center w-100 align-self-center mt-0">
            <h3 class="align-self-center"><b>Année de construction</b> </h3>
            <div class="d-flex flex-row justify-content-center align-self-center w-75" role="group"
                aria-label="Basic radio toggle button group" id="btnradio6">
                <div class="w-25 d-flex flex-row justify-content-center">
                    <input type="radio" class="btn-check" name="btnradio6" id="btnradio3" autocomplete="off" checked>
                    <label class="btn btn-outline-success w-75 annee-button p-1" for="btnradio3">Entre 2 ans et 15 ans</label>
                </div>
                <div class="w-25 d-flex flex-row justify-content-center">
                    <input type="radio" class="btn-check" name="btnradio6" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-success w-75 annee-button p-1" for="btnradio4">+ de 15 ans</label>
                </div>
            </div>
        </div>
        <div class="surface d-flex flex-column justify-content-center w-50 align-self-center mt-0">
            <h3 class="align-self-center"><b>Surface habitable chauffée</b></h3>
            <div class="form-floating mb-3 align-self-center w-50">
                <input type="number" class="form-control w-100" id="floatingInput" placeholder="200">
                <label for="floatingInput" class="text-dark">m2</label>
            </div>
        </div>
    </div>
    <div class="button-group w-50 d-flex flex-row justify-content-around mt-4">
        <a routerLink="/formulaire" class="btn w-25 retour">Retour</a>
        <a routerLink="/chauffage-actuel" class="btn w-25 suivant">Suivant</a>
    </div>
</div>