<form class="container-fluid d-flex flex-column  align-items-center form"  [formGroup]="montantEstimatifForm" (ngSubmit)="onSubmit()" >
    <div class="w-100 d-flex flex-column justify-content-around main">
        <div class="type-logement d-flex flex-column justify-content-center mt-0 mb-0" 
           >
            <div class="surface d-flex flex-column justify-content-center w-50 align-self-center mt-0">
                <h3 class="align-self-center"><b>Montant estimatif du matériel (TTC)</b></h3>
                <div class="form-floating mb-3 align-self-center w-50 mb-4">
                    <input type="number" class="form-control w-100 text-dark" id="floatingInput1"  [(ngModel)]="montantMateriel" formControlName="materiel"/>
                    <label for="floatingInput1" class="text-dark">euros</label>
                    <!-- <small *ngIf="materiel.invalid && (materiel.touched || materiel.dirty)" class=" text-dangerp-0">ce champ est requis
                    </small> -->
                </div>
                <h3 class="align-self-center mt-4"><b>Montant estimatif de la pose (TTC)</b></h3>
                <!-- <div class="form-floating mb-3 align-self-center w-50 ">
                    <input type="number" class="form-control w-100 text-dark" id="floatingInput2"   [value]="montantPose" formControlName="pose">
                    <label for="floatingInput2" class="text-dark">euros</label>
                     <small *ngIf="pose.invalid && (pose.touched || pose.dirty)" class=" text-dangerp-0">ce champ est requis
                    </small> -->
                <!-- </div> -->
                <div class="form-floating mb-3 align-self-center w-50">
                    <input type="number" class="form-control w-100 text-dark" id="floatingInput" [(ngModel)]="montantPose" placeholder="200" formControlName="pose">
                    <label for="floatingInput" class="text-dark">euros</label>
                </div>
            </div>
        </div>
    </div>
    <div class="button-group w-50 d-flex flex-row justify-content-around mt-4">
        <button (click)="return()" class="btn w-25 retour">Retour</button>
        <button type="submit" [disabled]="!montantEstimatifForm.valid" class="btn w-25 suivant" >Suivant</button>
    </div>
</form>

