.container-fluid {
    height: 87vh;
    color: white;
}

.main{
    height:75vh;
}

img {
    height: 100px;
    width: 100px;
}

.card {
    box-shadow: 7px 3px 3px grey;
    align-items: center;
    background-color: #5f5f5f;
}

h3 {
    color: #5f5f5f;
}
.button-group {
    position: absolute;
    bottom: 8vh;
}

.retour, .suivant {
    background-color: #22844e;
    color: white;
}

.appt-button, .maison-button{
    width: 120px;
    border-color: transparent;
}