<main class="container py-4">
    <section>
        <h2><b>Editeur : </b> </h2>
        <div>
            <p> <b>Ce site est édité par :</b>
            </p>
            <p>YA-Performance SASU</p>

            <p>SASU Société par actions simplifiée à associé unique de 10 000 euros</p>

            <p>Ayant son siège social au 101 RUE JEAN JAURES 59200 TOURCOING, France.</p>

            <p>Enregistrée au RCS de Lille sous le numéro : 828 170 373</p>

            <p>Numéro de TVA intracommunautaire : FR 79 828 170 373</p>

            <p>Dont le dirigeant est Monsieur Ali Boussiga, Président Directeur Général</p>

            <p>Tél. : +33 (0)1 57 32 60 60</p>

            <p>Email : ya.performance.france@gmail.com</p>
        </div>
    </section>
    <section>
        <h2><b>Le directeur de la publication du Site est :</b> </h2>
        <p>Monsieur Ali Boussiga</p>
    </section>
    <section>
        <h2><b>Le prestataire d'hebergement du Site est :</b> </h2>
        <div>
            <p><b>OVH</b> </p>

            <p>SAS au capital de 10 069 020 €</p>
            <p>RCS Lille Métropole 424 761 419 00045</p>
            <p>Code APE 2620Z</p>
            <p>N° TVA : FR 22 424 761 419</p>
            <p>Siège social : 2 rue Kellermann – 59100 Roubaix – France</p>
        </div>
    </section>

    <section>
        <h2><b>Avertissement : </b></h2>
        <article>
            <p>L’utilisateur du site reconnaît avoir pris connaissance de la présente notice légale et s’engage à la
                respecter.</p>

            <p>Nous nous engageons à fournir nos meilleurs efforts pour assurer aux utilisateurs une accessibilité du
                site
                à tout moment. Toutefois, nous ne pourrons être tenu responsables en cas d’indisponibilité du site, pour
                quelque cause que ce soit.</p>

            <p>Les informations fournies dans le présent site le sont à titre indicatif. L’exactitude et la complétude
                des
                informations diffusées sur ce site ni la permanence de son bon fonctionnement ou sa totale sécurité
                informatique ne peuvent être garanties.</p>

            <p>Nous mettons tout en œuvre pour offrir aux utilisateurs des informations et des outils disponibles et
                vérifiés, mais nous ne saurons être tenue responsable des erreurs, d’une absence de disponibilité des
                informations
                et/ou de la présence de virus ou autres infections logiques sur ce site.</p>

            <p> Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés
                modifiée et au règlement général sur la protection des données à caractère personnel (« RGPD »), la
                société COHERIS
                responsable de traitement, informe l’utilisateur qu’elle met en œuvre un traitement de données à
                caractère
                personnel le concernant.</p>

            <p> Les informations communiquées par l’utilisateur par le biais des formulaires disponibles sur le site
                sont
                destinées aux personnels habilités du responsable de traitement, à des fins de gestion administrative et
                commerciale.</p>

            <p> Nous vous informons que vous disposez d’un droit d’accès, de modification et de rectification aux
                informations qui vous concernent. Vous disposez également d’un droit d’opposition au traitement de vos
                données à
                caractère personnel pour des motifs légitimes, ainsi que d’un droit d’opposition à ce que ces données
                soient utilisées
                à des fins de prospection commerciale.</p>

            <p> Pour exercer vos droits, vous devez adresser un courrier à la société Ya-Performance, accompagné de la
                photocopie
                recto d’un titre d’identité, à l’adresse postale suivante : Ya-Performance, 101 RUE JEAN JAURES 59200
                TOURCOING, France.
            </p>
            <p> Les règles applicables aux cookies sont accessibles dans la politique des cookies disponible sur notre
                site
                internet.</p>

            <p> Nous nous réservons le droit de modifier le contenu des présentes à tout moment et sans préavis.
                L’utilisateur est donc invité à consulter les mentions légales régulièrement.</p>

            <p> Le présent site est régi par les lois françaises.</p>
        </article>
    </section>

    <section>
        <h2>Pour consulter les informations légales du site ya-performance.fr suivez les liens ci-dessous :</h2>
        <ul>
            <li><a routerLink="/politique-confidentialite">Politique de confidentialité</a>
            </li>
            <li><a routerLink="/politique-cookies">Politique de Cookies</a></li>
        </ul>

    </section>

</main>
