<footer class="row m-0">
  <div class="col-3 align-self-center text-white">
    <ul class="list-inline w-100 mb-0 text-light">
      <li class="list-inline-item"><a href="#">© Copyright 2021 - Ya-Performance</a></li>
    </ul>
  </div>
  <div class="col-6 align-self-center text-white">
    <ul class="list-inline w-100 mb-0 text-light">
      <li class="list-inline-item"><a routerLink="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>|
      <li class="list-inline-item"><a routerLink="/politique-cookies">Politique cookies</a></li>|
      <li class="list-inline-item"><a routerLink="/mentions-legales" routerLinkActive="active">Mentions légales</a></li>|
      <li class="list-inline-item"><a routerLink="/politique-confidentialite">Politique de confidentialité</a></li>
    </ul>
  </div>
  <div class="col-3 align-self-center">
    <ul class="list-inline w-100 mb-0 text-light">
      <li class="list-inline-item"><label>Nous suivre</label></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
</footer>