footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ABB2B9;
    color: white;
    text-align: center;
    height: 6vh;
}

ul.li{
    color: white;
    list-style: none;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}
